Repository winter-telescope/image-daemon: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, poetry-check

.pre-commit-config.yaml:

default_language_version:
    python: python3.12
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        types: [ python ]
#-   repo: local
#    hooks:
#      - id: pylint
#        name: pylint [mandatory]
#        entry: pylint
#        language: system
#        types: [python]
#        args:
#          [
#            "--disable=missing-function-docstring,missing-module-docstring,missing-class-docstring",
#            "-rn", # Only display messages
#            #"-sn", # Don't display the score
#          ]
#        verbose: true
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.6.4
  hooks:
    # Run the linter.
    - id: ruff
    # Run the formatter.
    - id: ruff-format
      
    # Sort the imports
    #- id: ruff
    #  args: ["check", "--select", "I", "--fix"]

-   repo: local
    hooks:
      - id: poetry-check
        name: poetry-check
        description: run poetry check to validate config
        entry: poetry check
        language: python
        language_version: python3
        pass_filenames: false
        files: ^pyproject.toml$

poetry setup
  .pre-commit-config.yaml
  src/image_daemon/utils/winter_image.py
Due: black

poetry setup
  .pre-commit-config.yaml
Due: none

poetry setup
  src/image_daemon/utils/winter_image.py
Due: black

working on making the docs work
  docs/source/conf.py
  docs/source/image_daemon.rst
  docs/source/image_daemon.utils.rst
  docs/source/index.rst
  docs/source/modules.rst
  src/image_daemon/paths.py
  src/image_daemon/utils/__init__.py
Due: black

just checking on username
  src/image_daemon/paths.py
Due: black

fixing pylint unhappiness
  .pylintrc
  README.md
  src/image_daemon/utils/winter_image.py
Due: black

got rid of *args and tuning up pylint still
  .pylintrc
  src/image_daemon/utils/winter_image.py
Due: black

setting up to download data from winter_data
  .gitignore
  poetry.lock
  pyproject.toml
  src/image_daemon/__init__.py
  src/image_daemon/downloader/get_data.py
  src/image_daemon/utils/execute_cmd.py
Due: black, poetry-check
